*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

header .navbar{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    padding: 10px;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url(Images/bg-image-2.jpg);
    background-position: center;
}

.logo {
    display: flex;
    color: whitesmoke;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    margin-top: 10px;
    padding: 10px;
}


.nav-menu{
    margin-top: 10px;
    display: flex;
    padding: 10px;
    gap: 100px;  
}

ul {
    list-style: none;
    margin-left: 50px;
    margin-top: 20px;
    font-size: 14px;
}

ul a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul a:hover{
    color: #ff7200;
}











@media(max-width: 768px){
    header, .navbar{
        font-size: 14px;
        text-transform: lowercase;
    }

    
}

